In [1]:
import findspark

findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pandas as pd
import numpy as np
from pyspark.sql.window import Window

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
df = spark.read.csv("./Clean_Data/cleaned_data.csv", header=True)

In [5]:
df.show()

+---------+-------------+----------------+--------------+-------------+----------------+
| Contract|sum(Giải Trí)|sum(Phim Truyện)|sum(Thiếu Nhi)|sum(Thể Thao)|sum(Truyền Hình)|
+---------+-------------+----------------+--------------+-------------+----------------+
|AGAAA0848|         null|            null|          null|         null|           12141|
|AGAAA2588|         null|            null|          null|         null|         1078595|
|AGD003807|         null|          153369|           164|         null|            4352|
|AGD004253|         null|            null|          null|         null|          264972|
|AGD008179|        13225|          135699|          null|         null|          115222|
|AGD011212|         null|            3799|          null|         null|          308980|
|AGD022636|           35|            null|          null|         null|           26553|
|AGD026510|         null|            null|          null|         null|          676380|
|AGD029035|         null|            9345|          null|         null|          822316|
|AGFD02813|         null|           98056|          null|         null|          386668|
|AGFD03462|         null|            null|           668|         null|          273718|
|AGFD04563|         null|            null|          null|         null|          272548|
|AGFD05635|         null|            null|          null|         null|          194890|
|AGFD08311|         null|            null|          null|         null|         1628760|
|AGFD08541|         null|            null|          null|         null|           13800|
|AGFD08980|         null|            null|          null|         null|         1987069|
|AGFD09914|         null|            null|          null|         null|          935337|
|AGFD11441|         null|           43048|          null|         null|           15576|
|AGFD12008|         null|            null|          null|         null|          687868|
|AGFD13066|           19|            null|          null|         null|          112478|
+---------+-------------+----------------+--------------+-------------+----------------+
only showing top 20 rows

In [6]:
df = df.withColumnRenamed('sum(Giải Trí)', 'RelaxDuration') \
.withColumnRenamed('sum(Phim Truyện)', 'MovieDuration') \
.withColumnRenamed('sum(Thiếu Nhi)', 'ChildDuration') \
.withColumnRenamed('sum(Thể Thao)', 'SportDuration') \
.withColumnRenamed('sum(Truyền Hình)', 'TVDuration')

In [7]:
df.show()

+---------+-------------+-------------+-------------+-------------+----------+
| Contract|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|
+---------+-------------+-------------+-------------+-------------+----------+
|AGAAA0848|         null|         null|         null|         null|     12141|
|AGAAA2588|         null|         null|         null|         null|   1078595|
|AGD003807|         null|       153369|          164|         null|      4352|
|AGD004253|         null|         null|         null|         null|    264972|
|AGD008179|        13225|       135699|         null|         null|    115222|
|AGD011212|         null|         3799|         null|         null|    308980|
|AGD022636|           35|         null|         null|         null|     26553|
|AGD026510|         null|         null|         null|         null|    676380|
|AGD029035|         null|         9345|         null|         null|    822316|
|AGFD02813|         null|        98056|         null|         null|    386668|
|AGFD03462|         null|         null|          668|         null|    273718|
|AGFD04563|         null|         null|         null|         null|    272548|
|AGFD05635|         null|         null|         null|         null|    194890|
|AGFD08311|         null|         null|         null|         null|   1628760|
|AGFD08541|         null|         null|         null|         null|     13800|
|AGFD08980|         null|         null|         null|         null|   1987069|
|AGFD09914|         null|         null|         null|         null|    935337|
|AGFD11441|         null|        43048|         null|         null|     15576|
|AGFD12008|         null|         null|         null|         null|    687868|
|AGFD13066|           19|         null|         null|         null|    112478|
+---------+-------------+-------------+-------------+-------------+----------+
only showing top 20 rows

In [8]:
def unpivot_data(df):
    a = df.select('Contract', 'RelaxDuration').withColumn('Category', lit('Relax')).withColumnRenamed('RelaxDuration', 'TotalDuration')
    b = df.select('Contract', 'MovieDuration').withColumn('Category', lit('Movie')).withColumnRenamed('MovieDuration', 'TotalDuration')
    c = df.select('Contract', 'ChildDuration').withColumn('Category', lit('Child')).withColumnRenamed('ChildDuration', 'TotalDuration')
    d = df.select('Contract', 'SportDuration').withColumn('Category', lit('Sport')).withColumnRenamed('SportDuration', 'TotalDuration')
    e = df.select('Contract', 'TVDuration').withColumn('Category', lit('TV')).withColumnRenamed('TVDuration', 'TotalDuration')
    
    t = a.union(b).union(c).union(d).union(e)
    t = t.withColumn('TotalDuration', t.TotalDuration.cast(IntegerType()))
    return t

In [9]:
def calc_most_watch(data_unpivot):
    windowSpec  = Window.partitionBy("Contract").orderBy(desc("TotalDuration"))
    t = data_unpivot.withColumn("Rank",rank().over(windowSpec))
    t = t.filter(col('Rank') == 1)  
    t = t.select('Contract', 'Category').withColumnRenamed('Category', 'Most_Watch')
    return t

In [10]:
data_unpivot = unpivot_data(df)
most_watch = calc_most_watch(data_unpivot)

In [11]:
df = df.join(most_watch, "Contract", "inner")

In [12]:
df.show()

+--------------+-------------+-------------+-------------+-------------+----------+----------+
|      Contract|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|Most_Watch|
+--------------+-------------+-------------+-------------+-------------+----------+----------+
|113.182.209.48|           89|         null|         null|         null|        63|     Relax|
|14.182.110.125|           92|         null|         null|         null|       404|        TV|
|     AGAAA0338|         null|         null|         null|         null|    278633|        TV|
|     AGAAA0342|          204|         null|         null|         null|    117788|        TV|
|     AGAAA0346|         null|         null|         null|         null|   2056249|        TV|
|     AGAAA0353|         null|         1665|         null|         null|     25982|        TV|
|     AGAAA0372|         null|         null|         null|         null|     13123|        TV|
|     AGAAA0391|          373|          129|         null|         null|    158931|        TV|
|     AGAAA0452|         null|         null|         null|         null|     29921|        TV|
|     AGAAA0504|           97|           46|         null|         null|     21313|        TV|
|     AGAAA0544|         null|         null|         null|         null|    155603|        TV|
|     AGAAA0550|         null|         null|         null|         null|   2215875|        TV|
|     AGAAA0555|         null|         null|         null|         null|    348001|        TV|
|     AGAAA0576|         null|          677|         null|         null|    759375|        TV|
|     AGAAA0593|         null|         null|         null|         null|      1038|        TV|
|     AGAAA0608|         null|         null|         null|         null|      2129|        TV|
|     AGAAA0613|           26|         null|         null|         null|      9377|        TV|
|     AGAAA0638|         null|         null|         null|         null|    227016|        TV|
|     AGAAA0663|         null|         null|         null|         null|     89001|        TV|
|     AGAAA0692|         null|         null|         null|         null|    107057|        TV|
+--------------+-------------+-------------+-------------+-------------+----------+----------+
only showing top 20 rows

In [13]:
def calc_taste(df):
    calculate_taste = df.withColumn('RelaxDuration',when(df.RelaxDuration.isNotNull(),'Relax').otherwise(df.RelaxDuration))
    calculate_taste = calculate_taste.withColumn('MovieDuration',when(calculate_taste.MovieDuration.isNotNull(),'Movie').otherwise(calculate_taste.MovieDuration))
    calculate_taste = calculate_taste.withColumn('ChildDuration',when(calculate_taste.ChildDuration.isNotNull(),'Child').otherwise(calculate_taste.ChildDuration))
    calculate_taste = calculate_taste.withColumn('SportDuration',when(calculate_taste.SportDuration.isNotNull(),'Sport').otherwise(calculate_taste.SportDuration))
    calculate_taste = calculate_taste.withColumn('TVDuration',when(calculate_taste.TVDuration.isNotNull(),'TV').otherwise(calculate_taste.TVDuration))
    calculate_taste = calculate_taste.withColumn('Taste', concat_ws('-', *[c for c in calculate_taste.columns if (c!='Contract' and c!='Most_Watch')]))
    calculate_taste = calculate_taste.select('Contract','Taste')
    return calculate_taste

In [14]:
calculate_taste = calc_taste(df)

In [15]:
df1 = df.join(calculate_taste, "Contract", "inner")

In [16]:
df1 = df1.withColumn('RelaxDuration', df1.RelaxDuration.cast(IntegerType())) \
    .withColumn('MovieDuration', df1.MovieDuration.cast(IntegerType())) \
    .withColumn('ChildDuration', df1.ChildDuration.cast(IntegerType())) \
    .withColumn('SportDuration', df1.SportDuration.cast(IntegerType())) \
    .withColumn('TVDuration', df1.TVDuration.cast(IntegerType()))

In [17]:
df1.printSchema()

root
 |-- Contract: string (nullable = true)
 |-- RelaxDuration: integer (nullable = true)
 |-- MovieDuration: integer (nullable = true)
 |-- ChildDuration: integer (nullable = true)
 |-- SportDuration: integer (nullable = true)
 |-- TVDuration: integer (nullable = true)
 |-- Most_Watch: string (nullable = false)
 |-- Taste: string (nullable = false)

In [18]:
df1.show()

+--------------+-------------+-------------+-------------+-------------+----------+----------+--------------+
|      Contract|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|Most_Watch|         Taste|
+--------------+-------------+-------------+-------------+-------------+----------+----------+--------------+
|113.182.209.48|           89|         null|         null|         null|        63|     Relax|      Relax-TV|
|14.182.110.125|           92|         null|         null|         null|       404|        TV|      Relax-TV|
|     AGAAA0338|         null|         null|         null|         null|    278633|        TV|            TV|
|     AGAAA0342|          204|         null|         null|         null|    117788|        TV|      Relax-TV|
|     AGAAA0346|         null|         null|         null|         null|   2056249|        TV|            TV|
|     AGAAA0353|         null|         1665|         null|         null|     25982|        TV|      Movie-TV|
|     AGAAA0372|         null|         null|         null|         null|     13123|        TV|            TV|
|     AGAAA0391|          373|          129|         null|         null|    158931|        TV|Relax-Movie-TV|
|     AGAAA0452|         null|         null|         null|         null|     29921|        TV|            TV|
|     AGAAA0504|           97|           46|         null|         null|     21313|        TV|Relax-Movie-TV|
|     AGAAA0544|         null|         null|         null|         null|    155603|        TV|            TV|
|     AGAAA0550|         null|         null|         null|         null|   2215875|        TV|            TV|
|     AGAAA0555|         null|         null|         null|         null|    348001|        TV|            TV|
|     AGAAA0576|         null|          677|         null|         null|    759375|        TV|      Movie-TV|
|     AGAAA0593|         null|         null|         null|         null|      1038|        TV|            TV|
|     AGAAA0608|         null|         null|         null|         null|      2129|        TV|            TV|
|     AGAAA0613|           26|         null|         null|         null|      9377|        TV|      Relax-TV|
|     AGAAA0638|         null|         null|         null|         null|    227016|        TV|            TV|
|     AGAAA0663|         null|         null|         null|         null|     89001|        TV|            TV|
|     AGAAA0692|         null|         null|         null|         null|    107057|        TV|            TV|
+--------------+-------------+-------------+-------------+-------------+----------+----------+--------------+
only showing top 20 rows

In [19]:
def calc_type(df):
    df = df.na.fill(value=0)
    
    # avgs = {
    #     c: (df.select(avg(c)).collect())[0][0] for c in df.columns if ((c != 'Contract') and (c != 'Most_Watch') and (c != 'Taste'))
    # }

    df = df.withColumn('TotalDuration', col('RelaxDuration') + col('MovieDuration') + col('ChildDuration') + col('SportDuration') + col('TVDuration'))

    bounds = {
        'TotalDuration': dict(
            zip(["q1", "q3"], df.approxQuantile('TotalDuration', [0.25, 0.75], 0))
        )
    }

    df = df.withColumn("Type", when(df.TotalDuration < bounds['TotalDuration']['q1'], "Low")
                                 .when(df.TotalDuration > bounds['TotalDuration']['q3'], "High")
                                 .otherwise("Medium"))
    
    # df = df.withColumn('Type', when((df.Most_Watch == "Relax") & (df.RelaxDuration >= avgs['RelaxDuration']), "Above average")
    #                      .when((df.Most_Watch == "Relax") & (df.RelaxDuration < avgs['RelaxDuration']), "Below average")
    #                      .when((df.Most_Watch == "Movie") & (df.MovieDuration >= avgs['MovieDuration']), "Above average")
    #                      .when((df.Most_Watch == "Movie") & (df.MovieDuration < avgs['RelaxDuration']), "Below average")
    #                      .when((df.Most_Watch == "Child") & (df.ChildDuration >= avgs['ChildDuration']), "Above average")
    #                      .when((df.Most_Watch == "Child") & (df.ChildDuration < avgs['ChildDuration']), "Below average")
    #                      .when((df.Most_Watch == "Sport") & (df.SportDuration >= avgs['SportDuration']), "Above average")
    #                      .when((df.Most_Watch == "Sport") & (df.SportDuration < avgs['SportDuration']), "Below average")
    #                      .when((df.Most_Watch == "TV") & (df.TVDuration >= avgs['TVDuration']), "Above average")
    #                      .when((df.Most_Watch == "TV") & (df.TVDuration < avgs['TVDuration']), "Below average")
    #                     )


    return df.select('Contract', 'RelaxDuration', 'MovieDuration', 'ChildDuration', 'SportDuration', 'TVDuration', 'TotalDuration', 'Most_Watch', 'Taste', 'Type')

In [20]:
df2 = calc_type(df1)

In [21]:
df2.show()

+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------+------+
|      Contract|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|TotalDuration|Most_Watch|         Taste|  Type|
+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------+------+
|113.182.209.48|           89|            0|            0|            0|        63|          152|     Relax|      Relax-TV|   Low|
|14.182.110.125|           92|            0|            0|            0|       404|          496|        TV|      Relax-TV|   Low|
|     AGAAA0338|            0|            0|            0|            0|    278633|       278633|        TV|            TV|Medium|
|     AGAAA0342|          204|            0|            0|            0|    117788|       117992|        TV|      Relax-TV|Medium|
|     AGAAA0346|            0|            0|            0|            0|   2056249|      2056249|        TV|            TV|  High|
|     AGAAA0353|            0|         1665|            0|            0|     25982|        27647|        TV|      Movie-TV|   Low|
|     AGAAA0372|            0|            0|            0|            0|     13123|        13123|        TV|            TV|   Low|
|     AGAAA0391|          373|          129|            0|            0|    158931|       159433|        TV|Relax-Movie-TV|Medium|
|     AGAAA0452|            0|            0|            0|            0|     29921|        29921|        TV|            TV|   Low|
|     AGAAA0504|           97|           46|            0|            0|     21313|        21456|        TV|Relax-Movie-TV|   Low|
|     AGAAA0544|            0|            0|            0|            0|    155603|       155603|        TV|            TV|Medium|
|     AGAAA0550|            0|            0|            0|            0|   2215875|      2215875|        TV|            TV|  High|
|     AGAAA0555|            0|            0|            0|            0|    348001|       348001|        TV|            TV|Medium|
|     AGAAA0576|            0|          677|            0|            0|    759375|       760052|        TV|      Movie-TV|  High|
|     AGAAA0593|            0|            0|            0|            0|      1038|         1038|        TV|            TV|   Low|
|     AGAAA0608|            0|            0|            0|            0|      2129|         2129|        TV|            TV|   Low|
|     AGAAA0613|           26|            0|            0|            0|      9377|         9403|        TV|      Relax-TV|   Low|
|     AGAAA0638|            0|            0|            0|            0|    227016|       227016|        TV|            TV|Medium|
|     AGAAA0663|            0|            0|            0|            0|     89001|        89001|        TV|            TV|Medium|
|     AGAAA0692|            0|            0|            0|            0|    107057|       107057|        TV|            TV|Medium|
+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------+------+
only showing top 20 rows

In [22]:
def read_all_30_days():
    path = "D:\\Dataset\\log_content\\"
    file_name = "20220401.json"

    df = spark.read.json(path + file_name)
    df = df.select("_source.AppName", "_source.Contract", "_source.Mac", "_source.TotalDuration")
    df = df.groupBy("Contract").sum('TotalDuration')

    for i in range(2, 31):
        if (i < 10):
            file_name = "2022040{}.json".format(i)
        else:
            file_name = "202204{}.json".format(i)

        df_temp = spark.read.json(path + file_name)
        df_temp = df_temp.select("_source.AppName", "_source.Contract", "_source.Mac", "_source.TotalDuration")
        df_temp = df_temp.groupBy("Contract").sum('TotalDuration')

        df = df.union(df_temp)
    return df

In [23]:
def calc_activeness():
    df = read_all_30_days()
    df = df.groupBy("Contract").agg(count("*").alias("Activeness"))
    return df

In [24]:
activeness_data = calc_activeness()

In [25]:
df3 = df2.join(activeness_data, 'Contract', 'inner')

In [26]:
df3.show()

+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------------+------+----------+
|      Contract|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|TotalDuration|Most_Watch|               Taste|  Type|Activeness|
+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------------+------+----------+
|113.182.209.48|           89|            0|            0|            0|        63|          152|     Relax|            Relax-TV|   Low|         1|
|14.182.110.125|           92|            0|            0|            0|       404|          496|        TV|            Relax-TV|   Low|         1|
|     AGAAA0338|            0|            0|            0|            0|    278633|       278633|        TV|                  TV|Medium|        30|
|     AGAAA0342|          204|            0|            0|            0|    117788|       117992|        TV|            Relax-TV|Medium|        12|
|     AGAAA0346|            0|            0|            0|            0|   2056249|      2056249|        TV|                  TV|  High|        30|
|     AGAAA0353|            0|         1665|            0|            0|     25982|        27647|        TV|            Movie-TV|   Low|        29|
|     AGAAA0391|          373|          129|            0|            0|    158931|       159433|        TV|      Relax-Movie-TV|Medium|        11|
|     AGAAA0452|            0|            0|            0|            0|     29921|        29921|        TV|                  TV|   Low|        14|
|     AGAAA0504|           97|           46|            0|            0|     21313|        21456|        TV|      Relax-Movie-TV|   Low|        28|
|     AGAAA0550|            0|            0|            0|            0|   2215875|      2215875|        TV|                  TV|  High|        29|
|     AGAAA0593|            0|            0|            0|            0|      1038|         1038|        TV|                  TV|   Low|         3|
|     AGAAA0608|            0|            0|            0|            0|      2129|         2129|        TV|                  TV|   Low|         2|
|     AGAAA0613|           26|            0|            0|            0|      9377|         9403|        TV|            Relax-TV|   Low|        24|
|     AGAAA0638|            0|            0|            0|            0|    227016|       227016|        TV|                  TV|Medium|        30|
|     AGAAA0663|            0|            0|            0|            0|     89001|        89001|        TV|                  TV|Medium|        29|
|     AGAAA0692|            0|            0|            0|            0|    107057|       107057|        TV|                  TV|Medium|         8|
|     AGAAA0693|          482|           33|        10361|            0|    233447|       244323|        TV|Relax-Movie-Child-TV|Medium|        29|
|     AGAAA0718|            0|            0|            0|            0|    634586|       634586|        TV|                  TV|  High|        28|
|     AGAAA0723|            0|            0|            0|            0|      9279|         9279|        TV|                  TV|   Low|        19|
|     AGAAA0729|            0|            0|            0|            0|    161781|       161781|        TV|                  TV|Medium|         3|
+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------------+------+----------+
only showing top 20 rows

In [26]:
def calc_clinginess(df):
    df = df.withColumn('Clinginess', when((df.Type == 'Low') & (df.Activeness <= 20), 'Low')
                                    .when((df.Type == 'Low') & (df.Activeness > 20), 'Medium')
                                    .when((df.Type == 'Medium') & (df.Activeness <= 10), 'Low')
                                    .when((df.Type == 'Medium') & (df.Activeness > 10) & (df.Activeness <= 20), 'Medium')
                                    .when((df.Type == 'Medium') & (df.Activeness > 20), 'High')
                                    .when((df.Type == 'High') & (df.Activeness <= 10), 'Medium')
                                    .when((df.Type == 'High') & (df.Activeness > 10), 'High'))

    return df

In [27]:
df4 = calc_clinginess(df3)

In [29]:
df4.show()

+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------------+------+----------+----------+
|      Contract|RelaxDuration|MovieDuration|ChildDuration|SportDuration|TVDuration|TotalDuration|Most_Watch|               Taste|  Type|Activeness|Clinginess|
+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------------+------+----------+----------+
|113.182.209.48|           89|            0|            0|            0|        63|          152|     Relax|            Relax-TV|   Low|         1|       Low|
|14.182.110.125|           92|            0|            0|            0|       404|          496|        TV|            Relax-TV|   Low|         1|       Low|
|     AGAAA0338|            0|            0|            0|            0|    278633|       278633|        TV|                  TV|Medium|        30|      High|
|     AGAAA0342|          204|            0|            0|            0|    117788|       117992|        TV|            Relax-TV|Medium|        12|    Medium|
|     AGAAA0346|            0|            0|            0|            0|   2056249|      2056249|        TV|                  TV|  High|        30|      High|
|     AGAAA0353|            0|         1665|            0|            0|     25982|        27647|        TV|            Movie-TV|   Low|        29|    Medium|
|     AGAAA0391|          373|          129|            0|            0|    158931|       159433|        TV|      Relax-Movie-TV|Medium|        11|    Medium|
|     AGAAA0452|            0|            0|            0|            0|     29921|        29921|        TV|                  TV|   Low|        14|       Low|
|     AGAAA0504|           97|           46|            0|            0|     21313|        21456|        TV|      Relax-Movie-TV|   Low|        28|    Medium|
|     AGAAA0550|            0|            0|            0|            0|   2215875|      2215875|        TV|                  TV|  High|        29|      High|
|     AGAAA0593|            0|            0|            0|            0|      1038|         1038|        TV|                  TV|   Low|         3|       Low|
|     AGAAA0608|            0|            0|            0|            0|      2129|         2129|        TV|                  TV|   Low|         2|       Low|
|     AGAAA0613|           26|            0|            0|            0|      9377|         9403|        TV|            Relax-TV|   Low|        24|    Medium|
|     AGAAA0638|            0|            0|            0|            0|    227016|       227016|        TV|                  TV|Medium|        30|      High|
|     AGAAA0663|            0|            0|            0|            0|     89001|        89001|        TV|                  TV|Medium|        29|      High|
|     AGAAA0692|            0|            0|            0|            0|    107057|       107057|        TV|                  TV|Medium|         8|       Low|
|     AGAAA0693|          482|           33|        10361|            0|    233447|       244323|        TV|Relax-Movie-Child-TV|Medium|        29|      High|
|     AGAAA0718|            0|            0|            0|            0|    634586|       634586|        TV|                  TV|  High|        28|      High|
|     AGAAA0723|            0|            0|            0|            0|      9279|         9279|        TV|                  TV|   Low|        19|       Low|
|     AGAAA0729|            0|            0|            0|            0|    161781|       161781|        TV|                  TV|Medium|         3|       Low|
+--------------+-------------+-------------+-------------+-------------+----------+-------------+----------+--------------------+------+----------+----------+
only showing top 20 rows

In [28]:
# Save data
df4.repartition(1).write.csv('./Final_Data', header=True)